{% extends "base.html" %}
{% load i18n %}
{% load core %}
{% load static %}

{% block title %}
    {% if object %}
        {{ object }}
    {% else %}
        He(e)r mit Geschichte
    {% endif %}
{% endblock title %}
{% block favicons %}
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{% shared_url %}favicon/apple-touch-icon.png" />
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="{% shared_url %}favicon/favicon-32x32.png" />
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="{% shared_url %}favicon/favicon-16x16.png" />
    <link rel="mask-icon"
          href="{% shared_url %}favicon/safari-pinned-tab.svg"
          color="#00aba9" />
{% endblock favicons %}
{% block styles %}
    <link href="{% static 'styles/hmg.css' %}" rel="stylesheet" />
    {{ block.super }}
{% endblock styles %}

{% block main-menu %}
    <li class="nav-item">
        <a class="navbar-brand d-flex align-items-center mx-0 py-2" href="/">
            <span class="material-symbols-outlined text-primary">
                home
            </span>
        </a>
    </li>
    <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">
        {% translate "About" %} <span class="caret" />
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'apis:documentation' %}">{% translate "Data model" %}</a>
        </div>
        </li>
        {{ block.super }}
{% endblock main-menu %}
{% block content %}
<div class="container my-5">
    <div class="p-5 bg-light rounded-3 shadow">
        <div class="container-fluid py-5">
            <h1 class="fw-bold text-primary">He(e)r mit Geschichte</h1>
            <p class="lead"></p>
        </div>
        <div class="container-fluid">
            This is a sample development instance of APIS with a preliminary data model for this project.
        </div>
        </div>
        </div>
{% endblock content %}
