{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% if object %}
{{ object }}
{% else %}
He(e)r mit Geschichte
{% endif %}
{% endblock title %}

{% block main-menu %}

    <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">
        {% translate "About" %} <span class="caret" />
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'apis:documentation' %}">{% translate "Data model" %}</a>
        </div>
        </li>
        {{ block.super }}
{% endblock main-menu %}
{% block content %}
<div class="container my-5">
    <div class="p-5 bg-light rounded-3 shadow">
        <div class="container-fluid py-5">
            <h1 class="display-4 fw-bold text-primary">He(e)r mit Geschichte</h1>
            <p class="lead"></p>
        </div>
        <div class="container-fluid">
            Diese Seite enthält eine vorläufige Version des Datenmodells, mit der Sie Dateneingaben tätigen und die Funktionen
            von APIS ausprobieren können.
        </div>
        </div>
        </div>
{% endblock content %}
